@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brown {
  color: #74483F;
}

.grey{
  color:#4B4643
}

.section-header {
  font-size: 1.5rem;
  font-weight: 900;
  

}